<script src="https://checkout.stripe.com/checkout.js"></script>
<h2>Choose a Plan</h2>
<em>Plans are billed monthly</em>
<% if current_account.subscribed? %>
  <%= render 'plan_switcher' %>
<% else %>
  <%= render 'plan_picker' %>
<% end %>

<% if current_account.stripe_subscription_id.present? %>
  <small>
    <%= link_to  "Cancel your subscription", 
      cancel_subscription_path,
      method: :delete,
      data: {
        confirm: 'Are you sure you would like to cancel your subscription?'
      } %>
  </small>
<% end %>
<%= javascript_include_tag 'accounts/plans' %>
